@charset "utf-8";
body {
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	background-image: url(../img/15476-wood-texture-1920x1200-abstract-wallpaper.jpg);
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}
.logo {
	background-image: url(../img/logo.png);
	height: 340px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
		#flashContent {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 155px;
}

.idan {
	height: 735px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/jeans_texture1753.jpg);
	border-left: 3px dashed #8EBDD4;
	border-right: 3px dashed #8EBDD4;
	border-top: 3px dashed #8EBDD4;
	padding-left: 10px;
	padding-right: 10px;
}
.futer {
	height: 173px;
	width: 970px;
	color: #FFFFFF;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-right: 3px dashed #8EBDD4;
	border-bottom: 3px dashed #8EBDD4;
	border-left: 3px dashed #8EBDD4;
	background-image: url(../img/jeans_texture1753.jpg);
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
.facebook {
	width: 48px;
	height: 48px;
	text-align: center;
}
.facebook:hover {
	opacity: 0.7;
}
.twiter {
	width: 48px;
	height: 48px;
	text-align: center;
}
.twiter:hover {
	opacity: 0.7;
}
.instegram {
	width: 48px;
	height: 48px;
	text-align: center;
}
.instegram:hover {
	opacity: 0.7;
}
.goggle {
	width: 48px;
	height: 48px;
	text-align: center;
}
.goggle:hover {
	opacity: 0.7;
}
.social {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
.menu_2 {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
	font-size: 30px;
}
.home_page a {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
}
.home_page a:hover {
	color: #FF0000;
}
.About a {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
}
.About a:hover {
	color: #FF0004;
}
.jaens_man a {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
}
.jaens_man a:hover  {
	color: #FF0004;
}
.jeans_girl a {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
}
.jeans_girl a:hover  {
	color: #FF0004;
}
.Contact_us a  {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
}
.Contact_us a:hover   {
	color: #FF0003;
}
.futer h1 {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 30px;
}
.idan .jaens_man_2 {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
tbody tr .skinny  {
	text-align: center;
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
	width: 170px;
	background-color: #00AEE3;
}
tbody tr .skinny a  {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
	font-size: 25px;
}
tbody tr .skinny a:hover   {
	color: #FF0004;
}
tbody tr .slim  {
	text-align: center;
	text-decoration: none;
	width: 170px;
	background-color: #00AEE3;
}
tbody tr .slim a  {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 25px;
	text-decoration: none;
}
tbody tr .slim a:hover   {
	color: #FF0004;
}
tr .slim_straight  {
	width: 170px;
	text-align: center;
	background-color: #00AEE3;
}
tr .slim_straight a  {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-decoration: none;
	font-size: 25px;
	background-color: #00AEE3;
}
tr .slim_straight a:hover   {
	color: #FF0004;
	background-color: #00AEE3;
}
tr .original_straight {
	width: 170px;
	text-align: center;
	background-color: #00AEE3;
}
tr .original_straight a {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 25px;
	text-decoration: none;
}
tr .original_straight a:hover  {
	color: #FF0004;
}
tbody tr .origenal.taper {
	width: 220px;
	text-align: center;
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 25px;
	background-color: #00AEE3;
}
tbody tr .origenal.taper:hover  {
	color: #FF0004;
}
.idan .jeans_girl_2 {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
tbody tr .Skinny_a {
	width: 142px;
	text-align: center;
	background-color: #00AEE3;
}
tbody tr .Skinny_a a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
}
tbody tr .Skinny_a a:hover  {
	color: #FF0004;
}
tbody tr .Jegging_a  {
	text-align: center;
	width: 151px;
	background-color: #00AEE3;
}
tbody tr .Jegging_a a  {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
}
tbody tr .Jegging_a a:hover   {
	color: #FF0004;
}
tr .Hi-Rise_Jegging_a {
	text-align: center;
	width: 170px;
	background-color: #00AEE3;
	padding-bottom: 5px;
}
tr .Hi-Rise_Jegging_a a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 22px;
}
tr .Hi-Rise_Jegging_a a:hover  {
	color: #FF0004;
}
tr .Sky.High_Jegging_a  {
	width: 150px;
	text-align: center;
	background-color: #00AEE3;
	padding-bottom: 5px;
}
tr .Sky.High_Jegging_a a  {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 22px;
}
tr .Sky.High_Jegging_a a:hover   {
	color: #FF0004;
}
tbody tr .Kick.Boot_a {
	width: 145px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
	background-color: #00AEE3;
}
tbody tr .Kick.Boot_a:hover  {
	color: #FF0004;
}
.idan .pic_1 {
	background-image: url(../img/img_1430036161-17.jpg);
	width: 400px;
	height: 543px;
	float: right;
	margin-top: 28px;
}
.idan h1 {
	color: #FFFFFF;
	text-align: center;
	text-decoration: underline;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.text_1 {
	color: #FFFFFF;
	float: left;
	width: 560px;
	height: 652px;
	margin-top: 1px;
	text-align: center;
}
.idan .text_1 h2 {
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 26px;
}
.idan .text_1 p {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 26px;
	padding-right: 10px;
	text-align: justify;
}
.idan .text_1 li {
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-align: justify;
	padding-right: 20px;
	margin-bottom: 5px;
	font-size: 25px;
}
tbody tr .AEO:hover  {
	opacity: 0.7;
}
tbody tr .AEO  {
	width: 48px;
	height: 48px;
}
.idan .idan_from {
	width: 540px;
	height: 293px;
	margin-top: 10px;
	background-image: url(../img/sbs_items.1179945181.1.b.jpg);
	text-align: center;
	margin-right: 10px;
}
.text_1 .idan_from .from_1 {
	width: 255px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.text_1 .idan_from textarea {
	width: 520px;
	height: 130px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.text_1 .idan_from .idan_from_send {
	width: 80px;
	height: 35px;
	margin-top: 10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}
.text_1 .idan_from .idan_from_send:hover  {
	color: #FF0004;
	font-weight: bold;
}
